<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Passing Value from URL to HTML Field</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/styles/dashboard/edit-items.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../static/scripts/dashboard/edit-item.js"></script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<section class="form-section">
					<h3 class="text-center">Edit Food Item</h3>
					<hr>
					<h5 class="text-center">Food Item Details</h5>
					<input type="text" id="field">
					<form class="row g-3">
						<div class="col-md-6">
							<label for="name">Name:</label><br>
							<input type="text" id="name" name="name" class="form-control" placeholder="Enter product name">
						</div>

						<div class="col-md-6">
							<label for="formFile" class="form-label">Default file input example</label>
							<input class="form-control" type="file" id="formFile">
						</div>

						<div class="col-md-12">
							<label for="description">Description:</label><br>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>

						<div class="col-md-6">
							<label for="first_price">First Price:</label><br>
							<input type="number" step="0.01" class="form-control" id="first_price" name="first_price" placeholder="Enter first price">
						</div>
						<div class="col-md-6">
							<label for="second_price">Second Price:</label><br>
							<input type="number" step="0.01" class="form-control" id="second_price" name="second_price" placeholder="Enter second price">
						</div>


						<div class="col-md-6">
							<label for="icons">Icons:</label><br>
							<input type="file" id="icons" name="icons" accept="image/*"><br><br>
						</div>

						<div class="col-md-6">
							<label for="inputState" class="form-label">Category</label>
							<select id="inputState" class="form-select">
							  <option selected>Choose...</option>
							  <option>COFEES</option>
							  <option>TEAS</option>
							</select>
						</div>
						
						<div class="col-12">
						  <button type="submit" class="btn btn-primary">Sign in</button>
						</div>
					  </form>
				</section>
			</div>
		</div>
	</div>



</body>
</html>
